<%= render "shared/header"%>

<div class = "group-name">
  <%= "~ #{@group.name} ~" %>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@group, @message], class: 'form-message', local: true do |f| %>
  <div class="form-message-input">
    <%= f.text_field :content, class: 'form-group-message', placeholder: 'type a message' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

<%= render "shared/footer" %>